.App {
  font-weight: 400;
  color: #fff;
}

#quote-box {
  border-radius: 3px;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

#text {
  text-align: center;
  width: 450px;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}
#author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
  transition: 1.25s ease-out 0.25s;
}
.buttons {
  width: 450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 1.25s ease-out 0.25s;
}
.button:hover {
  opacity: 0.9;
}
svg {
  height: 20px;
  width: 20px;
}

.quote-enter {
  opacity: 0;
}
.quote-enter-active {
  opacity: 1;

  transition: opacity 0.5s ease-out 0.5s;
}
.quote-exit {
  opacity: 1;
}
.quote-exit-active {
  opacity: 0;
  height: 0px;
  transition: opacity 0.5s ease-out;
}
